%h1 {
  font-size: 30px;
  font-weight: 600;
}
%h2 {
  font-size: 24px;
  font-weight: 500;
}
%h3 {
  font-size: 20px;
  font-weight: 500;
}
%h4 {
  font-size: 16px;
  font-weight: 400;
}
%h5 {
  font-size: 12px;
  font-weight: 400;
}
%cursor {
  cursor: context-menu;
}
